[Unit]
Description=Wakapi Time Tracking Service
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=wakapi-start
RemainAfterExit=yes
User=petr

[Install]
WantedBy=multi-user.target
